<%
locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: capture.experiment.sample.project.group.name, link: `/browse/${capture.experiment.sample.project.group.safeName}`},
    {
        name: capture.experiment.sample.project.name,
        link: `/browse/${capture.experiment.sample.project.group.safeName}/${capture.experiment.sample.project.safeName}`
    },
    {
        name: capture.experiment.sample.name,
        link: `/browse/${capture.experiment.sample.project.group.safeName}/${capture.experiment.sample.project.safeName}/${capture.experiment.sample.safeName}`
    },
    {
        name: capture.experiment.name,
        link: `/browse/${capture.experiment.sample.project.group.safeName}/${capture.experiment.sample.project.safeName}/${capture.experiment.sample.safeName}/${capture.experiment.safeName}`
    },
    {name: 'Edit Capture', active: true}
]; %>
<% include ../head.ejs %>

<section class="section">
    <div class="container">

        <h1 class="title has-text-centered">Edit: <%- capture.name %></h1>

        <section class="section">
            <p>A <b>Capture</b> is the simplest heading. This is really the images themselves, and most
                Experiments would have one capture. If multiple captures are present, then they would likely be
                technically
                identical, even if they are different images. The experimental variables should be identical for all
                images
                in the same capture. <a onclick="openHelp()" target="_blank">read more.</a></p>
        </section>

        <form method="post"
              action="/browse/<%- capture.experiment.sample.project.group.safeName %>/<%- capture.experiment.sample.project.safeName %>/<%- experiment.sample.safeName %>/<%- experiment.safeName %>/new">

            <input type="hidden" name="id" value="<%- capture.id %>" class="is-hidden">

            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="New capture name" name="name" maxlength="30"
                                   value="<%- capture.name %>" required>
                        </div>
                        <p class="help">The name of your capture</p>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Platform Name</label>
                        <div class="control">
                            <div class="select">

                                <%
                                const platforms = [
                                    'Leica SP8',
                                    'Spinning Disc',
                                    'Zeiss 510',
                                    'Lecia M205',
                                    'Olympus IX81',
                                    'Ziess',
                                    'Axioskop2'
                                ].sort();
                                %>

                                <select name="platformName">
                                    <% platforms.map(platform=>{ %>
                                        <option <%- capture.platformName === platform ? 'selected' : '' %>><%- platform %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <!--<p class="help">This is a help text</p>-->
                    </div>
                </div>

            </div>

            <div class="control">
                <button class="button is-success">Create</button>
            </div>
        </form>

    </div>
</section>
<% include ../foot.ejs %>