<% locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {
        name: capture.experiment.sample.project.group.name,
        link: `/browse/${capture.experiment.sample.project.group.safeName}`
    },
    {
        name: capture.experiment.sample.project.name,
        link: `/browse/${capture.experiment.sample.project.group.safeName}/${capture.experiment.sample.project.safeName}`
    },
    {
        name: capture.experiment.sample.name,
        link: `/browse/${capture.experiment.sample.project.group.safeName}/${capture.experiment.sample.project.safeName}/${capture.experiment.sample.safeName}`
    },
    {
        name: capture.experiment.name,
        link: `/browse/${capture.experiment.sample.project.group.safeName}/${capture.experiment.sample.project.safeName}/${capture.experiment.sample.safeName}/${capture.experiment.safeName}`
    },
    {name: capture.name, active: true}
]; %>
<% include ../head.ejs %>
<section class="section">
    <div class="container">

        <h1 class="title has-text-centered"><%- capture.name %></h1>
        <% const HPCPath = `${locals.config.HPCRoot}/${capture.experiment.sample.project.group.safeName}/${capture.experiment.sample.project.safeName}/${capture.experiment.sample.safeName}/${capture.experiment.safeName}/${capture.safeName}` %>
        <% include ../_hpc_path.ejs %>
        <hr>
        <div class="columns">
            <div class="column">
                <label class="label">Platform Name</label>
                <p><%- capture.platformName %></p>
            </div>
        </div>

        <hr>
        <a href="/browse/<%- capture.experiment.sample.project.group.safeName %>/<%- capture.experiment.sample.project.safeName %>/<%- capture.experiment.sample.safeName %>/<%- capture.experiment.safeName %>/<%- capture.safeName %>/edit"
           class="button is-info">Edit Capture</a>

    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered is-4">Files</h2>


        <div class="section">
            <% include ../_uploadFile.ejs %>
        </div>

        <div class="columns">
            <% capture.files.map((file, fileIndex)=>{ %>

                <% if (fileIndex !== 0 && fileIndex % 3 == 0){ %>
                    <%- '</div>' %>
                    <%- '<div class= "columns" >' %>
                <% } %>

                <div class="column is-one-third">
                    <div class="card is-rounded">
                        <div class="card-content">

                            <div class="media ">
                                <div class="media-content">
                                    <p class="title is-5">
                                        <a href="/browse/<%- capture.experiment.sample.project.group.safeName %>/<%- capture.experiment.sample.project.safeName %>/<%- capture.experiment.sample.safeName %>/<%- capture.experiment.safeName %>/<%- capture.safeName %>/<%- file.name %>">
                                            <%- file.parsedName() %>
                                        </a>
                                    </p>

                                    <div class="field is-grouped is-grouped-multiline">
                                        <div class="control">
                                            <div class="tags has-addons">
                                                <span class="tag is-dark">type</span>
                                                <span class="tag is-info"><%- file.type %></span>
                                            </div>
                                        </div>

                                        <div class="control">
                                            <div class="tags has-addons">
                                                <span class="tag is-dark">ext</span>
                                                <span class="tag is-success"><%- file.extention() %></span>
                                            </div>
                                        </div>

                                    </div>

                                    <% if(file.description){ %>
                                        <p><%- file.description %></p>
                                    <% } %>
                                </div>
                            </div>

                            <div class="content">
                                <a class="button is-link"
                                   href="/browse/<%- capture.experiment.sample.project.group.safeName %>/<%- capture.experiment.sample.project.safeName %>/<%- capture.experiment.sample.safeName %>/<%- capture.experiment.safeName %>/<%- capture.safeName %>/<%- file.name %>/download">Download</a>
                            </div>

                        </div>
                    </div>
                </div>

            <% }) %>
        </div>
    </div>
</section>
<% include ../foot.ejs %>