<%
isEdit = false;
if (typeof experiment !== 'undefined') {
    sample = experiment.sample;
    isEdit = true;
} else {
    experiment = {}
}


locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: sample.project.group.name, link: `/browse/${sample.project.group.safeName}`},
    {name: sample.project.name, link: `/browse/${sample.project.group.safeName}/${sample.project.safeName}`},
    {name: sample.name, link: `/browse/${sample.project.group.safeName}/${sample.project.safeName}/${sample.safeName}`},
    {name: 'New Experiment', active: true}
]; %>
<% include ../head.ejs %>

<section class="section">
    <div class="container">

        <% if(isEdit){ %>
            <h1 class="title has-text-centered">Edit: <%- experiment.name %></h1>
        <% } else { %>
            <h1 class="title has-text-centered">New Experiment</h1>
        <% } %>

        <form method="post"
              action="/browse/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>/<%- sample.safeName %>/new">

            <input type="hidden" name="id" value="<%- isEdit ? experiment.id : ''%>" class="is-hidden">

            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Experiment Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="New experiment name" name="name"
                                   value="<%- isEdit ? experiment.name : '' %>" required>
                        </div>
                        <p class="help">The name of your experiment</p>
                    </div>
                    <div class="control">
                        <button class="button is-success"><%- isEdit ? 'Update' : 'Create' %></button>
                    </div>
                </div>
        </form>

    </div>
</section>
<% include ../foot.ejs %>