<%
locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: experiment.sample.project.group.name, link: `/browse/${experiment.sample.project.group.safeName}`},
    {
        name: experiment.sample.project.name,
        link: `/browse/${experiment.sample.project.group.safeName}/${experiment.sample.project.safeName}`
    },
    {
        name: experiment.sample.name,
        link: `/browse/${experiment.sample.project.group.safeName}/${experiment.sample.project.safeName}/${experiment.sample.safeName}`
    },
    {name: 'Edit Experiment', active: true}
]; %>
<%-include('../head.ejs') %>

<section class="section">
    <div class="container">

        <h1 class="title has-text-centered">Edit: <%- experiment.name %></h1>
        <section class="section">
            <p>An <b>Experiment</b> is the next heading that captures the more relevant varying biological and technical
                variables (like the treatment or the biological replicate). There could be lots of <b>Experiments</b>
                for a sample. <a onclick="openHelp()" target="_blank">read more.</a></p>
        </section>
        <form method="post"
              action="/browse/<%- experiment.sample.project.group.safeName %>/<%- experiment.sample.project.safeName %>/<%- experiment.sample.safeName %>/new">

            <input type="hidden" name="id" value="<%- experiment.id %>" class="is-hidden">

            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Experiment Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="New experiment name" name="name"
                                   maxlength="30"
                                   value="<%- experiment.name %>" required>
                        </div>
                        <p class="help">The name of your experiment</p>
                    </div>
                </div>

                <!--NEW-->

            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="description" name="description"
                                   minlength="20"
                                   value="<%- experiment.description %>" required>
                        </div>
                        <p class="help">A description of your experiment</p>
                    </div>

                </div>
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Protocol</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="protocol" name="protocol"
                                   value="<%- experiment.protocol %>">
                        </div>
                        <p class="help">Your experiment protocol</p>
                    </div>

                </div>
            </div>

            <div class="control">
                <button class="button is-success">Update</button>
            </div>
        </form>

    </div>
</section>
<%-include('../foot.ejs') %>