<%
locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: sample.project.group.name, link: `/browse/${sample.project.group.safeName}`},
    {name: sample.project.name, link: `/browse/${sample.project.group.safeName}/${sample.project.safeName}`},
    {name: sample.name, link: `/browse/${sample.project.group.safeName}/${sample.project.safeName}/${sample.safeName}`},
    {name: 'New Experiment', active: true}
]; %>
<%-include('../head.ejs') %>

<section class="section">
    <div class="container">

        <h1 class="title has-text-centered">New Experiment</h1>

        <section class="section">
            <p>An <b>Experiment</b> is the next heading that captures the more relevant varying biological and technical
                variables (like the treatment or the biological replicate). There could be lots of <b>Experiments</b>
                for a sample. <a onclick="openHelp()" target="_blank">read more.</a></p>
        </section>
        <form method="post"
              action="/browse/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>/<%- sample.safeName %>/new">



            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Experiment Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="New experiment name" name="name"
                                   maxlength="30"required>
                        </div>
                        <p class="help">The name of your experiment</p>
                    </div>
                </div>

                <!--NEW-->

            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="description" name="description"
                                   minlength="20" required>
                        </div>
                        <p class="help">A description of your experiment</p>
                    </div>

                </div>
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Protocol</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="protocol" name="protocol"">
                        </div>
                        <p class="help">Your experiment protocol</p>
                    </div>

                </div>
            </div>

            <div class="control">
                <button class="button is-success">Create</button>
            </div>

        </form>

    </div>
</section>
<%-include('../foot.ejs') %>