<% locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: experiment.sample.project.group.name, link: `/browse/${experiment.sample.project.group.safeName}`},
    {
        name: experiment.sample.project.name,
        link: `/browse/${experiment.sample.project.group.safeName}/${experiment.sample.project.safeName}`
    },
    {
        name: experiment.sample.name,
        link: `/browse/${experiment.sample.project.group.safeName}/${experiment.sample.project.safeName}/${experiment.sample.safeName}`
    },
    {name: experiment.name, active: true}
]; %>
<% include ../head.ejs %>

<section class="section">
    <div class="container">

        <h1 class="title has-text-centered"><%- experiment.name %></h1>
        <% const HPCPath = `${locals.config.HPCRoot}/${experiment.sample.project.group.safeName}/${experiment.sample.project.safeName}/${experiment.sample.safeName}/${experiment.safeName}` %>
        <% include ../_hpc_path.ejs %>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered is-4">Captures</h2>

        <div class="section">
            <a href="/browse/<%- experiment.sample.project.group.safeName %>/<%- experiment.sample.project.safeName %>/<%- experiment.sample.safeName %>/<%- experiment.safeName %>/new"
               class="button is-success">New
                Capture</a>
        </div>

        <% if(experiment.captures){ %>
            <div class="columns">
                <% experiment.captures.map((capture, captureIndex)=>{ %>

                    <% if (captureIndex !== 0 && captureIndex % 3 == 0){ %>
                        <%- '</div>' %>
                        <%- '<div class= "columns" >' %>
                    <% } %>

                    <div class="column is-one-third">
                        <div class="card is-rounded">
                            <div class="card-content">

                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><%- capture.name %></p>

                                    </div>
                                </div>
                                <div class="content">
                                    <p><%- capture.safeName %></p>
                                    <a class="button is-link is-outlined"
                                       href="/browse/<%- experiment.sample.project.group.safeName %>/<%- experiment.sample.project.safeName %>/<%- experiment.sample.safeName %>/<%- experiment.safeName %>/<%- capture.safeName %>">View
                                        Capture</a>
                                </div>

                            </div>
                        </div>
                    </div>

                <% }) %>
            </div>
        <% } %>
    </div>
</section>
<% include ../foot.ejs %>