<% locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: group.name, active: true}
]; %>
<%-include('../head.ejs') %>
<section class="section">
    <div class="container">


        <h1 class="title has-text-centered "><%- group.name %></h1>
        <% const HPCPath = `${locals.config.HPCRoot}/${group.safeName}` %>
        <%-include('../_hpc_path.ejs', { HPCPath }) %>
    </div>
</section>
<section class="section">
    <div class="container">

        <h2 class="title has-text-centered is-4">Projects</h2>

        <div class="section">
            <a href="/browse/<%- group.safeName %>/new" class="button is-success">New Project</a>
        </div>

        <div class="columns">
            <% if(group.projects){ %>
                <% group.projects.map((project, projectIndex)=>{ %>

                    <% if (projectIndex !== 0 && projectIndex % 3 == 0){ %>
                        <%- '</div>' %>
                        <%- '<div class= "columns" >' %>
                    <% } %>

                    <div class="column is-one-third">
                        <div class="card is-rounded">
                            <div class="card-content">

                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><%- project.name %></p>
                                    </div>
                                </div>

                                <div class="content">
                                    <p><%- project.shortDescription.substring(0, 64) %><%- project.shortDescription.length > 64 ? '...' : '' %></p>
                                    <a class="button is-link is-outlined"
                                       href="/browse/<%- group.safeName %>/<%- project.safeName %>">View Project</a>
                                </div>

                            </div>
                        </div>
                    </div>

                <% }) %>
            <% } %>
        </div>
    </div>
</section>

<%-include('../foot.ejs') %>
