<% locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: project.group.name, link: `/browse/${project.group.safeName}`},
    {name: project.name, active: true}
]; %>
<%-include('../head.ejs') %>

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered"><%- project.name %></h1>
        <% const HPCPath = `${locals.config.HPCRoot}/${project.group.safeName}/${project.safeName}` %>
        <%-include('../_hpc_path.ejs') %>
        <hr>

        <% if(project.user){ %>
            <div class="columns">
                <div class="column">
                    <label class="label">Created By</label>
                    <p><%- project.user || 'unknown' %></p>
                </div>
            </div>
        <% } %>
        <div class="columns">
            <div class="column">
                <label class="label">Project Name</label>
                <p><%- project.name %></p>
            </div>
            <div class="column">
                <label class="label">Short Description</label>
                <p><%- project.shortDescription %></p>
            </div>
        </div>

        <label class="label">Long Description</label>
        <p><%- project.longDescription %></p>

        <hr>
        <a href="/browse/<%- project.group.safeName %>/<%- project.safeName %>/edit" class="button is-info">Edit
            Project</a>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered is-4">Samples</h2>

        <a href="/browse/<%- project.group.safeName %>/<%- project.safeName %>/new"
           class="button is-success">New Sample</a>
        <hr>

        <div class="columns">
            <% project.samples.map((sample, exampleIndex)=>{ %>

                <% if (exampleIndex !== 0 && exampleIndex % 3 == 0){ %>
                    <%- '</div>' %>
                    <%- '<div class= "columns" >' %>
                <% } %>

                <div class="column is-one-third">
                    <div class="card is-rounded">
                        <div class="card-content">

                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4"><%- sample.name %></p>

                                </div>
                            </div>
                            <div class="content">
                                <p><%- sample.safeName %></p>
                                <a class="button is-link is-outlined"
                                   href="/browse/<%- project.group.safeName %>/<%- project.safeName %>/<%- sample.safeName %>">View
                                    Sample</a>
                            </div>

                        </div>
                    </div>
                </div>

            <% }) %>
        </div>
    </div>
</section>
<%-include('../foot.ejs') %>