<% locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: sample.project.group.name, link: `/browse/${sample.project.group.safeName}`},
    {
        name: sample.project.name,
        link: `/browse/${sample.project.group.safeName}/${sample.project.safeName}`
    },
    {name: sample.name, active: true}
]; %>
<%-include('../head.ejs') %>
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered"><%- sample.name %></h1>
        <% const HPCPath = `${locals.config.HPCRoot}/${sample.project.group.safeName}/${sample.project.safeName}/${sample.safeName}` %>
        <%-include('../_hpc_path.ejs') %>
        <hr>

        <% if(sample.user){ %>
            <div class="columns">
                <div class="column">
                    <label class="label">Created By</label>
                    <p><%- sample.user || 'unknown' %></p>
                </div>
            </div>
        <% } %>

        <div class="columns">
            <div class="column">
                <label class="label">Sample Name</label>
                <p><%- sample.name %></p>
            </div>
            <div class="column">
                <label class="label">Taxonomy ID</label>
                <p><%- sample.taxID %></p>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <label class="label">Scientific Name</label>
                <p><%- sample.scientificName %></p>
            </div>
            <div class="column">
                <label class="label">Common Name</label>
                <p><%- sample.commonName %></p>
            </div>
        </div>

        <label class="label">Protocol</label>
        <p><%- sample.protocol %></p>

        <hr>
        <a href="/browse/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>/<%- sample.safeName %>/edit"
           class="button is-info">Edit
            Sample</a>

    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered is-4">Experiments</h2>

        <a href="/browse/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>/<%- sample.safeName %>/new"
           class="button is-success">New Experiment</a>

        <hr>
        <% if(sample.experiments){ %>
            <div class="columns">
                <% sample.experiments.map((experiment, experimentIndex)=>{ %>

                    <% if (experimentIndex !== 0 && experimentIndex % 3 == 0){ %>
                        <%- '</div>' %>
                        <%- '<div class= "columns" >' %>
                    <% } %>

                    <div class="column is-one-third">
                        <div class="card is-rounded">
                            <div class="card-content">

                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><%- experiment.name %></p>

                                    </div>
                                </div>
                                <div class="content">
                                    <p><%- experiment.safeName %></p>
                                    <a class="button is-link is-outlined"
                                       href="/browse/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>/<%- sample.safeName %>/<%- experiment.safeName %>">View
                                        Experiment</a>
                                </div>

                            </div>
                        </div>
                    </div>

                <% }) %>
            </div>
        <% } %>
    </div>
</section>
<%-include('../foot.ejs') %>